.menu_detalhe>summary{
    display: block;
}
.menu_detalhe{
    position: fixed;
    background-color: white;
    margin-top: -60px;
    padding: 10px;
}

.menu_detalhe>a{
    padding: 5px;
    margin-top: 10px;
    display: block;
    border: 2px, black, solid;
}