<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="../static/style.css">
</head> 
<body>
    <header>
        <h1>Sistema de Estoque</h1>  
    </header>

    <nav>
        <details class="menu_detalhe">
            <summary><img height="60lvw" src="../content/Detail_icon.png" alt="Detalhes"></summary>
            <a href="">Dashboard</a>
            <a href="">Produtos</a>
            <a href="">Buscar</a>
            <a href="">Estoque</a>
        </details>
    </nav>

    <main>
        <h2>Dashboard</h2>
        <section>
            <h3>Produtos cadastrados</h3>
            <h3>Itens em estoque</h3>
            <h3>Valor total</h3>
            <h3>Produtos com estoque baixo</h3>
            <h3>Últimas entradas</h3>
            <h3>Últimas saídas</h3>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>