<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="../static/produtos.css">
    <link rel="stylesheet" href="../static/detail_btn.css">
</head>
<body>
    <header>
        <h1 class="title">Produtos</h1>
    </header>

    <nav>
        <details class="menu_detalhe">
            <summary>
                <img
                    class="detail_img"
                    width="60"
                    src="{{ url_for('static', filename='content/details.png') }}"
                    alt="Detalhes"
                >
            </summary>

            <form action="{{ url_for('Dashboard') }}">
                <button type="submit">Dashboard</button>
            </form>

            <form action="{{ url_for('Produtos') }}">
                <button type="submit">Produtos</button>
            </form>

            <form action="">
                <button type="submit">Estoque</button>
            </form>

            <form action="">
                <button type="submit">Perfil</button>
            </form>

            <form action="">
                <button type="submit">Sair</button>
            </form>

        </details>
    </nav>

    <main>
        <section>
            <table>
               <tr class="list_detail">
                    <th>Id</th> <th>Nome do Produto</th> <th>Categoria</th> <th>Quantidade</th> <th>Preço</th> <th>Informações</th>
               </tr> 
               <tr>
                    <th>01</th>
                    <th>Micro-ondas</th>
                    <th>Eletrônico</th>
                    <th>16</th>
                    <th>189.99$</th>
                    <th><button class="info_btn">Clique Aqui</button></th>
               </tr>
               <tr>
                    <th>02</th>
                    <th>Cadeira de plástico</th>
                    <th>Objeto</th>
                    <th>43</th>
                    <th>12.99$</th>
                    <th><button class="info_btn">Clique Aqui</button></th>
               </tr>
               <caption>Lista de Produtos</caption>
            </table>
        </section>
    </main>
</body>
</html>